/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
graphify-out/*
/.ftpquota
/.env
sail
scratch.php
scratch_http.php
docker/8.0/Dockerfile
docker/8.0/php.ini
docker/8.0/start-container
docker/8.0/supervisord.conf
docker/8.1/Dockerfile
docker/8.1/php.ini
docker/8.1/start-container
docker/8.1/supervisord.conf
docker/8.2/Dockerfile
docker/8.2/php.ini
docker/8.2/start-container
docker/8.2/supervisord.conf
docker/8.3/Dockerfile
docker/8.3/php.ini
docker/8.3/start-container
docker/8.3/supervisord.conf
docker/8.4/Dockerfile
docker/8.4/php.ini
docker/8.4/start-container
docker/8.4/supervisord.conf
docker/8.5/Dockerfile
docker/8.5/php.ini
docker/8.5/start-container
docker/8.5/supervisord.conf
docker/mariadb/create-testing-database.sh
docker/mysql/create-testing-database.sh
docker/pgsql/create-testing-database.sql
